# WebSocket Server connection URL (e.g. wss://ws.moots.in in production)
NEXT_PUBLIC_WS_URL=ws://localhost:3001

# Express REST API backend URL (e.g. https://api.moots.in in production)
BACKEND_API_URL=http://localhost:3002

# NextAuth token encryption secret
AUTH_SECRET=your_auth_secret_token

# NextAuth base URL (Only required for custom VPS/VM hosting, e.g. https://moots.in)
# AUTH_URL=

# Public contact support email address (e.g. support@moots.in in production)
NEXT_PUBLIC_SUPPORT_EMAIL=support@moots.in
